@page
@model OdeToFoodDotNetCore.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>
<p>@Model.RestaurantCount</p>

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search">search</span>
                </button>
            </span>
            
        </div>
    </div>
</form>
<table class="table">
    <tbody>
@foreach (var item in Model.restaurantData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine)
            </td>
            <td>
                    <a asp-page="./Detail" asp-route-restaurantID="@item.Id" class="btn btn-lg">
                        Detail
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>